*{
padding: 0;
margin:0;
}
.wrap{
	width: 1000px;
	margin: auto;
}
.logo{
	padding: 5px 0;
}
.logo a{
	width: 132px;
	height: 100px;
}
.logo img{
	width: 100px;
	height: 60px;
}
.login-content{
	    background: #bde4c5;
}
.login-bg {
    width: 100%;
    background-image: url(../image/banner-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}
.login-bg img{
	width: 100%;
	height: 100%;
}
.main-content{
	min-height: 600px;
}
.button{
display: inline-block;
margin:0;
}
.wrapper {
  min-height: 100%;
}
.text-muted, footer {
  color: #a9bec6;
}
div#page-wrapper{
	background: url(../image/banner-footer.jpg);
}
.form-error,.user-empty,.pass-invalid,.email-empty,.email-invalid{
display: none;
}
.email-message, .user-message, .pass-message, .repass-message, .email-mess, .user-mess, .pass-mess, .repass-mess {
    font-size: 16px;
    color: red;
}
/**validate**/
#messageDiv{
	width: 250px;
	margin: auto;
	margin: 10px 0 5px 0;
	padding: 5px;
	border: 1px solid #E98D8C;
	background: #FFEBE8;
}
.form {
  display: block;
  max-width: 322px;
  background: #fff;
  padding: 10px 30px 30px 30px;
  position: absolute;
  right: 150px;
  top: 20px;
  border-top: 3px solid #45B39D;
}

.form-group {
  margin-bottom: 20px;
}
.form-label,
.form-input {
  display: block;
  width: 100%;
}

.form-label {
  cursor: pointer;
  margin-bottom: 5px;
}

.form-label--required {
  position: relative;
}
.form-label--required:before {
  content: "*";
  position: absolute;
  left: -10px;
  color: #f42866;
}

.form-input {
  padding: 10px;
  background-color: transparent;
  border: 0;
}
.form-input:focus {
  outline: none;
  background-color: #f0f7f9;
}

.form-footer {
  text-align: right;
}
.button {
  color: white;
  white-space: nowrap;
  background-color: #45B39D;
  padding: 10px 20px;
  border: 0;
  border-radius: 2px;
  transition: all 150ms ease-out;
}
.button:focus, .button:hover {
  background-color: #219d5b;
}

.form-addon {
  position: relative;
  display: table;
  width: 100%;
  border: 1px solid #bcdae5;
  background-color: #fff;
  border-radius: 2px;
}
.form-addon .form-input,
.form-addon .form-addon__addon {
  display: table-cell;
  vertical-align: middle;
}
.form-addon .form-input {
  width: 90%;
}
.form-addon .form-addon__addon {
  position: relative;
  width: 40px;
  text-align: center;
}
.form-addon .form-addon__addon:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  height: calc(100% - 8px);
  border-right: 1px solid #bcdae5;
}

.form-addon__icon {
  position: absolute;
  color: #31d47d;
  font-size: .8rem;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.toaster {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.toast {
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px) rotateY(40deg);
  transition: all 300ms ease;
}
.toast.toast--show {
  transform: translateY(0) rotateY(0);
  opacity: 1;
}

.toast--success {
  background-color: #31d47d;
}

.toast--error {
  background-color: #f42866;
}
.forgot-pass{
	text-decoration: underline;
	float: left;
	text-align: left;
}
.forgot-pass a{
	color: #EA57A3;
	display: block;
}
.rememberme{
    margin-bottom: 10px;
}

/*register form*/
.input-disabled {
    background-color: #EBEBE4;
}
