.user{
    padding-top: 50px;
    width: 1000px;
    height: 620px;
    background-color: #dfdfdf;
    margin: 0 auto;
}
.username{
   height: 50px;
}
.ten-user{
    position: absolute;
    font-size: 25px;
    color: #bd4949;
    padding-left: 70px;
}
.search{
    padding-left: 70%;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("image/search.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.option{
    height: 40px;
    width: 300px;
}
.update{
    position: absolute;
    float: left;
    padding-left: 20px;
}
.setting{
    padding-left: 100px;
    position: absolute;
}
.delete{
    float: right;
}
.infor{
    width: 350px;
    height: 700px;
    padding: 30px 0px 0px 70px;
    background-color: #00000094;
    position: absolute;
    float: left;
}
.avatar{
    width: 205px;
    height: 200px;
   border: 3px white solid;
    border-radius: 50%;
}
.avatar img{
    border-radius: 50%;
}
.information{
    padding-top: 50px;
    color: white;
}
.history{
    width: 650px;
    height: 700px;
    padding-left: 350px;
}
.name-history{
    width: 650px;
    height: 35px;
    background-color: #00000094;
    color: white;
    font-size: 25px;
    padding-left: 30px;
}
.history-user{
    width: 650px;
    height: 650px;
    padding-top: 30px;
}