
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .containerNotify {
            min-height: 430px;
        }

        .imgWelcome {
            width: 47%;
            margin: auto;
            margin-top: 10px;
        }

        h1 {
            color: #81CDB9;
            margin-top: 50px;
            margin-left: 70px;
        }

        .contain {
            font-size: 14px;
            padding: 100px 0;
            line-height: 18px;
        }

        .signup-message {
            margin: 20px auto;
            width: 600px;
            padding: 20px 30px 10px;
            font-size: 18px;
            text-align: center;
            line-height: 100%;
        }

        .val-success {
            background: #f4fcee;
            border: 2px solid #81CDB9;
        }

            .val-success .fa-check {
                display: block;
                margin: 0 auto 10px;
                color: #81CDB9;
                font-size: 22px;
            }

        .signup-message p {
            margin-bottom: 20px;
        }
        .emailconfirm{
            font-style: italic;
        }
        .title{
            font-weight: bold;
            font-size: 20px;
        }
        .try-again {
            color: #0E51CB;
            text-decoration: underline;
        }
    </style>
<div class="containerNotify">
    <div class="contain">
        <div class="signup-message val-success">
            <span class="fa fa-check"></span>
            <p class="title">Email đã được gửi tới <span class="emailconfirm">@TempData["EmailVerify"]</span></p>
            <p>Để lấy lại mật khẩu, vui lòng làm theo hướng dẫn chúng tôi đã gửi tới tài khoản email của bạn</p>
            <p>Nếu chưa nhận được mail hướng dẫn, vui lòng kiếm tra thư mục spam. Nếu bạn vẫn chưa nhận được bất kỳ email nào thì có thể <a href="@Url.Action("ForgotPass","Account")" class="try-again">Thử lại</a></p>
        </div>
    </div>
</div>
