
@{
    ViewBag.Title = "NotifyRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body,html{
        overflow: hidden;
    }
    .containerNotify{
        min-height: 430px;
    } 
    .imgWelcome{
        width: 40%;
        margin: auto;
        margin-bottom: 50px;
    }
        .imgWelcome img{
            width: 100%;
            height: 300px;
        } h1 {
            color: #81CDB9;
            margin-top: 50px;
            margin-left: 70px;
        }
    .contain{
        font-size: 14px;
    padding: 100px 0 0 0;
    line-height: 18px;
    }
    .signup-message{
        margin: 20px auto;
    width: 600px;
    padding: 20px 30px 10px;
    font-size: 18px;
    text-align: center;
    line-height: 100%;
    }
    .val-success{
        background: #f4fcee;
    border: 2px solid #81CDB9;
    }
    .val-success .fa-check{
            display: block;
    margin: 0 auto 10px;
    color: #81CDB9;
    font-size: 22px;
    }
    .signup-message p{
        margin-bottom: 20px;
    }
    .email{
        color: #81CDB9;
    }
</style>
<div class="containerNotify">
    <div class="contain">
        <div class="signup-message val-success">
            <span class="fa fa-check"></span>
            <p>Một email kích hoạt đã được gửi tới tài khoản <span class="email">@TempData["EmailVerify"]</span>. Bạn phải làm theo hướng dẫn để kích hoạt tài khoản trước khi đăng nhập</p>
        </div>
    </div>
    <div class="imgWelcome">
        <img src="~/Assets/client/image/welcome.jpg"/>
    </div>
</div>
