
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/Assets/client/css/news.css" />
}
<!-- mục tin -->
<div id="secwrapper">
    <section>
        <article id="featured" class="post">
            <a href="#"><img src="~/Assets/client/image/1.jpg" alt="" /></a>
            <img src="image/featured.png" alt="" id="featuredico" />
            <h1>Honda Việt Nam tiếp tục mở rộng hệ thống Đại lý </h1>
            <p>Ngày 07 tháng 11 năm 2017, tại Thành phố Quy Nhơn – tỉnh Bình Định, Công ty Honda Việt Nam cùng Công ty TNHH Thương mại và Dịch vụ Ôtô Dũng Tiến chính thức khai trương Đại lý Honda Ôtô Bình Định, nâng tổng số Đại lý đạt tiêu chuẩn 5S trên cả nước lên 21 đại lý. Honda Ôtô Bình Định chính thức đi vào hoạt động nằm trong chiến lược phát triển của Honda Việt Nam.  </p>
            <a href="news-content.html" class="readmore">Xem thêm</a>
        </article>
        <article class="post">
            <a href="#"><img src="~/Assets/client/image/2.jpg" alt="" /></a>
            <h1>WINNER: Triệu khoảnh khắc - Một đam mê </h1>
            <p> Hà Nội, ngày 06/11/2017 – Diễn ra từ ngày 12:00 ngày 06/11 đến ngày 11:59 ngày 18/12/2107, “WINNER: Triệu khoảnh khắc – Một đam mê” là cuộc thi ảnh lớn nhất năm dành cho các cá nhân và câu lạc bộ yêu thích mẫu xe Honda WINNER 150.</p>
            <a href="news-content.html" class="readmore">Xem thêm</a>
        </article>
        <article class="rightcl post" >
            <a href="#"><img src="~/Assets/client/image/3.jpg" alt="" /></a>
            <h1>DANH SÁCH KHÁCH HÀNG ĐẠT GIẢI CHƯƠNG TRÌNH “THĂM DÒ Ý KIẾN KHÁCH HÀNG”</h1>
            <p>Hiểu rõ nhu cầu của khách hàng, qua đó cung cấp các sản phẩm dịch vụ ngày càng hoàn thiện luôn là mục tiêu hướng tới của Honda. Thông qua chương trình “Thăm dò ý kiến khách hàng”, chúng tôi mong muốn nhận được ý kiến đóng góp quý báu của người sử dụng xe Honda Việt Nam để có thể phục vụ quý khách ngày một tốt hơn.</p>
            <a href="news-content.html" class="readmore">Xem thêm</a>
        </article>

        <article class="post">
            <a href="#"><img src="~/Assets/client/image/4.jpg" alt="" /></a>
            <h1>Honda cán mốc 100 triệu xe Super Cub trên toàn cầu</h1>
            <p>Ngày 19/10/2017, tại nhà máy Kumamoto, nơi sản xuất dòng xe máy Honda Super Cub*1 tại Nhật Bản, Honda Motor đã tổ chức Lễ Kỷ niệm chiếc xe Super Cub thứ 100 triệu được sản xuất ra tính tới thời điểm tháng 10/2017.</p>
            <a href="news-content.html" class="readmore">Xem thêm</a>
        </article>

        <article class="post">
            <a href="#"><img src="~/Assets/client/image/5.jpg" alt="" /></a>
            <h1>Honda Việt Nam giới thiệu Honda CR-V thế thệ thứ 5 </h1>
            <p>CR-V thế hệ mới được nhập khẩu nguyên chiếc từ Thái Lan với 3 phiên bản: L, G, E cùng 5 lựa chọn màu sắc bao gồm: Trắng ngọc quý phái, Ghi bạc thời trang, Đỏ lịch lãm, Đen ánh độc tôn và Xanh đen đẳng cấp (màu mới). </p>
            <a href="news-content.html" class="readmore">Xem thêm</a>
        </article>
    </section>
</div>

