
@{
    ViewBag.Title = "NewContents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- mục tin -->
<div id="noidung">
    <section>
        <h1>WINNER: Triệu khoảnh khắc - Một đam mê </h1>
        <p> Hà Nội, ngày 06/11/2017 – Diễn ra từ ngày 12:00 ngày 06/11 đến ngày 11:59 ngày 18/12/2107, “WINNER: Triệu khoảnh khắc – Một đam mê” là cuộc thi ảnh lớn nhất năm dành cho các cá nhân và câu lạc bộ yêu thích mẫu xe Honda WINNER 150. Đây là sân chơi do Honda Việt Nam tổ chức nhằm mang lại cơ hội cho những ai đã luôn ủng hộ Honda WINNER 150 thể hiện tình yêu và đam mê của mình đồng thời nhận về những giải thưởng hấp dẫn.</p>
        <p>Trong hơn một năm qua, kể từ khi ra mắt vào tháng 6/2016, Honda WINNER 150 đã trở thành mẫu xe côn tay được đông đảo những người trẻ tuổi, trẻ lòng yêu mến. Bằng chứng là ngày càng nhiều người chọn WINNER làm người bạn đồng hành trong những hành trình trải nghiệm mỗi ngày, cùng với đó là sự phát triển “vũ bão” của các câu lạc bộ chủ xe WINNER tại khắp 64 tỉnh/thành tạo nên một cộng đồng WINNER lớn mạnh. Hơn 80 câu lạc bộ, hơn 450.000 thành viên – họ đang từng ngày tạo ra và tận hưởng hàng triệu khoảnh khắc ý nghĩa trong cùng một niềm đam mê mang tên Honda WINNER 150.</p>
        <a href="#"><img src="image/2.jpg" alt="" /></a>
        <p>Thời gian nhận bài dự thi online diễn ra trong 6 tuần từ 12:00 ngày 06/11 đến 11:59 ngày 18/12. Thời gian bình chọn cho bài dự thi kéo dài từ ngày 12:00 ngày 06/11 đến 11:59 ngày 23/12. Người tham dự sẽ truy cập vào website của cuộc thi và dự thi bằng tài khoản facebook cá nhân. Mỗi tuần sẽ có 3 giải dành cho những bài dự thi được bình chọn nhiều nhất:</p>
        <a href="#"><img src="image/6.jpg" alt="" /></a>

    </section>
</div>

